<table class="pokemon-table">
  <thead>
    <tr>
      <th>Image</th>
      <th>Name   
        <app-sort-arrow
            [sortState]="sortBy === 'name' ? orderBy : null"
            (sortChange)="updateSort('name', $event)">
        </app-sort-arrow>
        </th>
      <th>Base Experience
        <app-sort-arrow
            [sortState]="sortBy === 'base_experience' ? orderBy : null"
            (sortChange)="updateSort('base_experience', $event)">
        </app-sort-arrow>
        <input type="text" placeholder="Search by name" (input)="updateFilter($event.target)"/>

      </th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let pokemon of pokemonObservable$ | async | filter: filterName | orderBy:orderBy:sortBy ">
      <td>
        <img [src]="pokemon.sprites.front_default" alt="{{ pokemon.name }}" />
      </td>
      <td>{{ pokemon.name }}</td>
      <td>{{ pokemon.base_experience }}</td>
    </tr>
  </tbody>
</table>
